<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Users</title>
</head>

<body>
    <h2>All Users</h2>
    <table border="black">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
        </tr>
        <% for( let user of users ) { %>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td>
                    <form method="get" action="/users/<%=user.id%>/edit">
                    <button>Edit Username</button>
                    </form>
            </td>
            </tr>
        <% } %>
    </table>
</body>

</html>