<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <h2>Write a New post here</h2>
    <form method="post" action="/posts">
        <input type="text" placeholder="username" name="username"> <br><br>
        <textarea name="content"></textarea>
        <button>Submit post</button>  <!--on clicking submit form will do a post request to server-->
    </form>
</body>
</html>